<div class="alert alert-warning text-center" ng-show="nombreAsesor.length === 0">
  Ofrecemos disculpas aun no tienes un asesor asignado
</div>

<div class="jumbotron" ng-show="nombreAsesor.length != 0" >
        <h2>Información asesor</h2> 
    <div>
        <div class="container">
            <img class="images"
            ng-src="{{fotoAsesor}}">
        </div>
        <h3>
            Nombre : {{nombreAsesor}}<br/>
            Tipo documento : {{tipoDocumento}}<br/>
            Número documento : {{numDocumento}}<br/>
            Correo : {{correo}}<br/>
            Celular : {{celular}}<br/>
            Dirección : {{direccion}}<br/>
            Latitud : {{latitud}}<br/>
            Longitud : {{longitud}}<br/>
        </h3>
    </div>

    <google-map center="map.center" 
                zoom="map.zoom" 
                draggable="true" 
                options="map.options" 
                control="map.control">
        <marker coords="marker.coords" options="marker.options" idkey="marker.id" ></marker>        
    </google-map>
<div>