<!-- @author Jorge Atehortua -->
<!-- @email jorge.atehortua@gmail.com -->

<!-- Esta pagina HTML sera la encargada de llamar y mostrar
 los diferentes productos que estaran contenidos en la base 
 de datos y que estan relacionados con un cliente-->

<div class="container" ng-controller="prodControler" >
	<h1 align="center">Listado de productos adquiridos por el cliente.</h1>
	</br>
	</p>

<!-- 	tabla para mostrar los archivos  -->
	<table class="table">
		<tr class="btn-primary">
			<th>Nombre del producto</th>
			<th>Tipo de producto</th>
			<th>Saldo</th>
		</tr>

<!-- 		Columnas de la tabla aplicandoles diversos filtros de busqueda -->
		<tr
			ng-repeat="item in products">
			<td>{{item.nombre}}</td>
			<td>{{item.tipo}}</td>
			<td>{{item.saldo}}</td>
		</tr>
	</table>
</div>

